/* main.css */

.no-flexbox .container {
  background: #eee;
  overflow: auto;
}

.no-flexbox .container .col {
    width: 27%;
    padding: 30px 3.15% 0;
    float: left;
}

/* TODO 3 - style the page */

@media screen and (max-width: 48rem) {
    .no-flexbox .container .col {
        width: 95%;
    }
}

/* TODO 5.2 - use flexbox */


.flexbox .container {
    display: -webkit-box;  /* OLD - iOS 6-, Safari 3.1-6 */
    display: -ms-flexbox;  /* TWEENER - IE 10 */
    display: flex;         /* NEW, Spec - Firefox, Chrome, Opera */
    background: #eee;
    overflow: auto;
}

.flexbox .container .col {
    flex: 1;
    padding: 1rem;
}

@media screen and (max-width: 48rem) {
    .flexbox .container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-flow: column;
    }
}